body {
  background-color: #151515
}

.paginationParent {
  text-align: center;
}

.pagination>li>a {
  background-color: inherit;
  font-family: 14px "Arial Black", Gadget, sans-serif;
  color: white;
  font-size: 2vw;
  border-color: #151515;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.character {
  position: relative;
  padding: 0.7vw;
}

.character:hover .image {
  opacity: 0.3;
}

.character:hover .title {
  opacity: 1;
}

.attribution {
  color: white;
  font-size: 1.5vw;
  text-align: center;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: .5s ease;
  z-index: -1;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image {
  opacity: 1;
  transition: .5s ease;
  cursor: pointer;
}

h1 {
  position: relative;
  color: #151515;
  top: 25%;
  font-size: 20em;
}

h1:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 7em;
  white-space: nowrap;
  color: red;
  animation: loading 8s linear;
}
@keyframes loading {
  0% {
      max-width: 0;
  }
}