body {
  font-family: 14px "Arial Black", Gadget, sans-serif;
  margin: 20px;
  background-color: #151515
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex: 20%;
  padding: 10px;
  color: white;
}

.attribution {
  color: white;
  text-align: center;
}

.title {
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
  font-size: 32px;
  padding: 16px 32px;
  cursor: pointer;
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 95%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}